<div class="container-fluid container-signup">
        <h1>LOG IN - TORRE SOCIAL</h1>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <div class="actions-group">
                <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username at Torre" aria-describedby="basic-addon1">
            </div>
            <div class="actions-group">
                <input type="password" [(ngModel)]="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
            </div>
        </div>
        <button type="button" class="btn btn-primary login_button" (click)="logIn()">Log in</button>
        <p class="text-warning" *ngIf="waitingInfo">Wait a minute...</p>
        <p class="text-danger" *ngIf="errorMessage">Username or password incorrect</p>
    </div>
