.lists-fr {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px; 
    table {
        margin-left: 10px;
        margin-right: 10px;
    }
}
.conatiner-table{
    display: flex; 
    flex-direction: row;
}
.search_oppt {
    display: inherit;
    flex-direction: column;
    margin-left: 30px;
    button {
        margin-bottom: 10px;
    }
}
.search__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.detail-table{
    display: inherit; 
    flex-direction: row;
}
