<div class="container-fluid container-signup">
    <h1>WELCOME TO TORRE DASHBOARD</h1>
    <h4>Please provide your Torre's username, so we can get your info</h4>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <div class="actions-group">
            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            <button type="button" class="btn btn-primary" (click)="lookForUsername()">Go</button>
        </div>
    </div>
    <p class="text-warning" *ngIf="waitingInfo">Wait a minute... finding your data in Torre</p>
    <p class="text-danger" *ngIf="errorMessage">Torre's server is down or username wasn't found in Torre</p>
</div>