<mat-card class="card">
    <mat-card-header>
        <mat-card-title>Torre username: {{user.username}}</mat-card-title>
        <mat-card-subtitle>Location: {{user.location}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="user.picture" alt="Torre's profile picture">
    <mat-card-content>
        <mat-chip-list aria-label="Color selection">
            <mat-chip selected> Education: {{user.stats.education}}</mat-chip>
            <mat-chip selected> Interests: {{user.stats.interests}}</mat-chip>
            <mat-chip selected> Projects: {{user.stats.projects}}</mat-chip>
            <mat-chip selected> Jobs: {{user.stats.jobs}}</mat-chip>
            <mat-chip selected> Strengths: {{user.stats.strengths}}</mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="friendsList()">Friends List</button>
        <button mat-button (click)="opportunitiesList()">Opportunities List</button>
    </mat-card-actions>
</mat-card>
