.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
}

.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .stats_child {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        margin-right: 20px;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px; 
}